<header>
    

  </header>


<body class="custbody">


<div class="jumbotron center jbg" >

    	<h1>Welcome to Locker321</h1>
    	
    	
    	<p>The remarkably simple way to get access to great deals on CrossFit gear.  
    
    
    
	
</p>
	
	
	<% if user_signed_in? %>
	#This Month's Special...
	
       <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <label class="amount">
              <span>Amount: $5.00</span>
            </label>
          </article>
        
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_test_CebDupceufAFC1vbZ4XHoEEY"
                  data-description="Purchse Item"
                  data-billingAddress="true"
                  data-shippingAddress="true"
                  data-amount="500"
                  data-locale="auto"></script>
        <% end %>
            
            
      <%else%>
	
        	<p>
        			<p>Sign up is free so click away.</p>
               <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
               <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        
          <div class="row-fluid marketing">
                <div class="span6">
                  <h4 class="cust">What is Locker321?</h4>
                  <p><h4 class="custcopy">We work with a major Crossfit attire or equipment manufacturer to negotiate one great deal each month.  Think groupon for Crossfit gear.</h4></p>
        
                  <h4 class="cust">Why join?</h4>
                  <p><h4 class="custcopy">If you're a Locker321 member, you get access to that deal.  You have absolutely no obligation to purchase but will only have access to the monthly offer if you have a locker321 account at least 30 days prior to that month's offering.</h4></p>
        
                  <h4 class="cust">Who can join?</h4>
                  <p><h4 class="custcopy">Anyone...And we don't spam you.  We only send you an email once per month letting you know what's available.  <%= link_to "Tell your friends"%></h4></p>
                </div>		
        	</p>
	<%end%>
	
</div>



<script type="text/javascript">
  Stripe.setPublishableKey('pk_test_CebDupceufAFC1vbZ4XHoEEY');
</script>
</body>